<header class="page-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href='/'><i data-feather="home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{#if user}}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <span class="navbar-text text-dark col">{{ title }}</span>
                <a class="btn btn-dark col-auto" href="/users/logout"> Log Out <span class="badge badge-light">{{ user.username }}</span></a>
                <a class="nav-item nav-link btn btn-dark col-auto" href='/notes/add'> ADD Note</a>
            </div>
            {{else}}
            <div class="collapse navbar-collapse" id="navbarLogIn">
                <a class="btn btn-dark" href="/users/login">Log in</a>
            </div>
        {{/if}}
    </nav>
</header>