<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
    {{!<link rel="stylesheet" href="https://unpkg.com/papercss@1.6.0/dist/paper.min.css"> }}
    <link rel='stylesheet' href='/assets/stylesheets/style.css' />
  </head>

  <body>
    {{> header }}
    {{{body}}}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/popper.js/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/feather-icons/feather.js"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
 